
.mainpage{
    position: relative;
    width: 100%;

}
.menu{
    position: fixed;
    width: 300px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}
.menu.active{
    width: 0;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
}
.main.active{
    width: 100%;
    left: 0;
}

.navbar{
    width: 100%;
}
.logout{
    margin-left: 20px;
}